@import url("bootstrap.css");
body{
    background-color: #fff;
    height: 100vh; /* 100% of the viewport height */
    margin: 0;
}
.header, .footer{
    background-color: #003366;
    color: white;
    padding-left: 50px;
}
.footer{
    height: 100px;
    padding-top: 20px;
}
.logo{
    width: 120px;
    background-color: white;
    border-radius: 70%;
}
.footerLink{
    color: white;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
    text-decoration: none;
}
.main{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: fit-content;
    margin: 0;
    position: relative;
}
.card {
    width: 90%;
    max-width: 500px;
    color: #fff;
    margin: 10px auto 0;
    border: none;
    padding: 10px 10px;
    text-align: center;
    padding-top: 5px;

}
#fugitiveMenu {
    width: 20%; /* Adjust the width as needed */
    float: left;
    background-color: #003366;
    color: #fff;
    padding-top: 0px;
}

#fugitiveMenu ul {
    list-style: none;
    padding: 0;
}

#fugitiveMenu li {
    padding: 10px;
}
.viewMore{
    background-color: #003366; 
    color: white; 
    border-radius: 10%;
    height: 35px;
}
.viewMore :hover{
    border-radius: 1px;
    border-color: black;
    background-color: white;
    color: black;
}
.lists{
    color: white;
}

